.a{
    width: 500px;
    height: 70px;
    background-color: rgb(48, 13, 13);
    margin: 30px auto;
    padding-left: 10px;
    text-align: center;
    color: aliceblue;
    font-size: 40px;
}
.s{
    width: 1000px;
    height: 400px;
    background-color: black;
    margin: 30px auto;
    padding-left: 10px;
    text-align: center;
    color: aliceblue;
    font-size: 40px;
    border: 5px solid red;
}
.d{
     width: 900px;
    height: 150px;
    background-color:aquamarine;
    margin: 30px auto;
    padding-left: 10px;
    text-align: center;
    color: aliceblue;
    font-size: 40px;
}
.f{
     width: 900px;
    height: 150px;
    background-color:aquamarine;
    margin: 30px auto;
    padding-left: 10px;
    text-align: center;
    color: aliceblue;
    font-size: 40px;
}
.v{
    font-size: 20px;
    color: black;
    text-decoration: none;
}